@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Monsieur+La+Doulaise&display=swap');

:root{
    --cor-botao:#660273;
    --cor-terce:#6602736b;
    --cor-segund:#F2AEE0;
    --cor-text:#1E1940;
    --cor-primary:#44F2E1;
}

*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body{
    background-color: var(--cor-segund);
}

header{
    margin-bottom: 32px;
    margin-left: 152px;
    margin-right: 152px;
}

.menu__principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;

}

.perfil__identidade{
    display: flex;
    gap:35px;
    align-items: center;

    font-size: 2rem;
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
}

.fa-dragon:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.fa-dragon{
    font-size: 2.5rem;
    color:var(--cor-botao);
}

.menu__itens {
    display: flex;
    gap: 20px; /* Espaço entre cada item */
    list-style: none; /* Remove as bolinhas da lista */
    padding: 0;
    margin: 0;

    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
}

.menu__link,
.menu__contato {
    text-decoration: none;
    color: var(--cor-text);
    font-weight: bold;
}

.menu__link:hover,
.menu__contato:hover {
    color: var(--cor-botao); /* Cor ao passar o mouse */
}

.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 152px;
    margin-right: 152px;
    margin-bottom: 32px;
}

.apresentacao__titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
    text-align: left;
    color: var(--cor-text);
    margin-right: 17px;
    margin-bottom: 24px;
}

.apresentacao__paragrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    text-align: left;
    color: var(--cor-text);
    margin-right: 17px;
    margin-bottom: 24px;
}

.social__links{
    display: flex;
    gap: 20px; /* Espaço entre cada item */
    list-style: none; /* Remove as bolinhas da lista */
    gap: 32px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

.link{
    text-decoration: none;
    color: var(--cor-text);
    gap:4px;
}

.foto__perfil{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.sobre__mim{
    padding: 64px 0px 64px 0px;
    background-color: var(--cor-primary);
    color: var(--cor-text);
}

.sobre__mim__titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    

    margin-left: 152px;
    margin-right: 152px;
}

.sobre__mim__paragrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;    

    margin-left: 152px;
    margin-right: 152px;
}

.titulo__skill{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    color: var(--cor-text);
    margin: 32px;
    
}

.todas__skill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 152px;
    margin-right: 152px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: var(--cor-text);
}

.todas__skill div {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }


.html{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-html5{
    font-size: 32px;
    color: var(--cor-botao);
    
}

.css{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-css3-alt{
    font-size: 32px;
    color: var(--cor-botao);
}

.javascript{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-js{
    font-size: 32px;
    color: var(--cor-botao);
}

.unity{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-unity{
    font-size: 32px;
    color: var(--cor-botao);
}

.titulo__hobbies{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    color: var(--cor-text);
    margin: 32px;
}

.todos__hobbies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 152px;
    margin-right: 152px;

    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: var(--cor-text);
}

.todos__hobbies div {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }

.ouvir__musica{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}
.fa-headphones{
    font-size: 32px;
    color: var(--cor-botao);    
}

.assitir__series{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-tv{
    font-size: 32px;
    color: var(--cor-botao);
}

.desenhar{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-palette{
    font-size: 32px;
    color: var(--cor-botao);
}

.ler{
    width: 176px;
    height: 174px;
    padding: 16px;
    background-color: var(--cor-terce);
    border-radius: 10%;
}

.fa-readme{
    font-size: 32px;
    color: var(--cor-botao);
}

.formacao__academica{
    padding: 64px 0px 64px 0px;
    background-color: var(--cor-primary);
    color: var(--cor-text);
    margin-top: 88px;
}

.titulo__academico{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    text-underline-position: from-font;
}

.logos__academicos{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 32px 152px 0px 152px;
}

.image__logo{
    width: 368px;
    height: 347px;
    gap: 8px;
}

.info__image{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    text-underline-position: from-font;
}

.descricao{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    text-underline-position: from-font;
}

.titulo__exprofissional{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    text-underline-position: from-font;
    color: var(--cor-text);
    margin-top: 32px;
}

.conteudo__profissional{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.image__decodificador{
    width: 752px;
    height: 406px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.paragrafos{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap:8px;
}

.descrição__decodificador{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    text-underline-position: from-font;
}

.sub__codificador{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    text-underline-position: from-font;
}

.botoes{
    display: flex;
    align-items: center;
    gap:16px;
}

.botao__repositorio{
    display: inline-block;
    padding: 16px;
    border: 1px solid var(--cor-botao);
    text-decoration: none;
    cursor: pointer;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-botao);  
}

.botao__demo{
    display: inline-block;
    padding: 16px;
    background-color: var(--cor-botao);
    text-decoration: none;
    cursor: pointer;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-text);
}

.fomulario_contato{
    display: flex;
    align-items: center;
    padding: 64px;
    gap:16px;
    background-color: var(--cor-primary);
    margin-top: 32px;
}
.image__telefone{
    width: 464px;
    height: 593px;
}

.conteudo__formulario{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 656px;
    height: 596px;
    gap: 32px;
}

.titulo__contato{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
}

.paragrafo__contato{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;   
}

.formulario__conteiner{
    display: flex;
    flex-direction: column;
    gap:32px;

    width: 656px;
    height: auto;
}

.enviar{
    display: inline-block;
    background-color: var(--cor-terce);
    text-decoration: none;
    cursor: pointer;

    width: 165px;
    height: 51px;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-text);
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: center;

    display: block;
    height: auto;
    padding: 40px;
    background: linear-gradient(var(--cor-botao), var(--cor-segund), var(--cor-terce));
}